.vs/
x64/
src/x64/
*.user
*.suo
*.obj
*.pdb
*.ilk
*.iobj
*.ipdb
*.exp
*.lib
*.dll
*.tlog/
*.log

data/wallet.txt
data/spawn*.txt
data/*_test.txt
data/list_first.txt
data/ui_notify_off.txt
discord.ini
